# Packages
node_modules
**/node_modules

# Build artifacts
dist
**/dist
typings
**/typings
tsconfig.tsbuildinfo

# Log files
logs
*.log
npm-debug.log*

# IDE
.vscode

# Miscellaneous
.github
.git
.gitattributes
.gitignore
.npmrc
readme.md